{% extends 'base.html' %}
{% block title %}
    My Tech Stack
{% endblock title %}
{% block cont %}


<div class="bg_img_header title"><h3 class="ts_title">MY TECH STACK</h3></div>
<div class="ts_content">
    <div class="ts_c_col1">
        <div class="col1_title title"><h4>Hardware</h4></div>
        <div class="col1_hardware">
            <p>Computer - HP 255 G7</p>
            <img src="/static/images/ts_comp.jpg" alt="my comp" style="height: auto;">
            <p>Keybord - TRUST 22243 NADO WLS BT KEYBORD</p>
            <img src="/static/images/ts_kbrd.png" alt="my kbrd" style="height: auto;">
            <p>Mouse - HAMA MW-300</p>
            <img src="/static/images/ts_mouse.jpg" alt="my mouse" style="height: auto;">
        </div>
    </div>
    <div class="ts_c_col2">
        <div class="col2_title title"><h4>Software</h4></div>
        <div class="col1_hardware">
            <p>Code editor - <a href="https://code.visualstudio.com/">Visual Studio Code</a></p>
            
            <p>UI design tool - <a href="https://www.adobe.com/products/xd.html">Adobe XD</a></p>
            
            <p>Main browser - <a href="https://www.adobe.com/products/xd.html">Google Chrome</a></p>

            <p>Main browser - <a href="https://www.adobe.com/products/xd.html">Microsoft Edge on Chromium</a></p>

            <p>Terminal for Smartphone - <a href="https://termux.com/">Termux</a></p>

            <p><a href="https://www.microsoft.com/store/productId/9NBLGGH4MSV6">Windows Subsystem for Linux(WSL) Ubuntu distro</a></p>

            <p><a href="https://www.microsoft.com/store/productId/9N0DX20HK701">Windows Terminal</a></p>
            
            
        </div>
    </div>
</div>


{% endblock cont %}
    