{% extends 'base.html' %}

{% block title %}
    Додати зображення | MWB
{% endblock title %}

{% block content_title %}
<div class="container" style="margin-top: 3%;">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        {{message}}
        </div>
      {% endfor %}
      {% endif %}
    {% endwith %}
    
    {% block body %}{% endblock %}
    </div>
<div class="title">
    <h3 class="createtagtitle">Додати нове зображення</h3>
</div>
{% endblock content_title %}

{% block content_index %}
    <div class="form_create">
        <form action="{{ url_for('posts.add_image') }}" method="POST" enctype="multipart/form-data">
            <div class="tags_part">
                <div class="create_tag">
                    {{ img_form.add_img.label(class='control-label') }}
                    <div class="input_tag_create">
                        {{ img_form.add_img(class='form-control tag_input') }}
                        {{ img_form.submit_img(class='btn btn-success cr_tag_button') }}
                    </div>
                </div>
            </div>
        </form> 
    </div>
{% endblock content_index %}